body,
html {
    background: #fff;
}

.full-height {
    bottom: 0px;
}

#dataDisplay {
    margin: 1rem 1rem;
    width: 100%;
}

#footer {
    bottom: 0px;
    height: 100%;
}

.item>p {
    color: white;
    margin-bottom: 0px;
}

#efficacyHeader>span {
    color: white;
    margin-bottom: 0px;
}

.option-label {
    color: white;
}

.option-dropdown {
    float: right;
}

#adverseEffectHeader {
    color: white;
    font-style: oblique;
    font-size: 1.1em;
}